<div class="container">
  <h2 class="principal-tittle">
    Bienvenido a tu portal de gestión de estudiantes
  </h2>

  <div class="container-buttons">
    <div class="input-search">
      <span class="lupa">
        <svg
          style="color: #ccd0d6"
          class="icon-container"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </span>
      <input
        class="container-input"
        type="text"
        placeholder="Buscar estudiante..."
      />
    </div>
    <button class="bnt-add" (click)="studentModal(0)">
      <svg
        class="icon-container"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
        ></path>
      </svg>
      Agregar un estudiante
    </button>
  </div>

  @if (data.length > 0){
  <div class="primer-contendor-tabla">
    <div class="second-container-tabla">
      <table class="table">
        <thead style="background-color: #f9fafb">
          <tr>
            <th scope="col" class="table-header">Nombre</th>
            <th scope="col" class="table-header">Email</th>
            <th scope="col" class="table-header">Edad</th>
            <th scope="col" class="table-header">Numero</th>
            <th scope="col" class="table-header">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-body">
          @for (item of data; track item.id){
          <tr>
            <td class="celdas_td">
              <div
                style="font-size: 0.875rem; font-weight: 500; color: #111827"
              >
                {{ item.name }} {{ item.lastname }}
              </div>
              <div style="font-size: 0.875rem; color: #6b7280">
                ID: {{ item.id }}
              </div>
            </td>
            <td class="celdas_td" style="font-size: 0.875rem; color: #374151">
              {{ item.email }}
            </td>
            <td class="celdas_td" style="font-size: 0.875rem; color: #374151">
              {{ item.age }}
            </td>
            <td class="celdas_td" style="font-size: 0.875rem; color: #374151">
              {{ item.number }}
            </td>
            <td
              class="celdas_td"
              style="margin-left: 5px; font-weight: 500; font-size: 0.875rem"
            >
              <button
                class="edit-color"
                title="Editar"
                (click)="studentModal(item.id)"
              >
                <svg
                  class="icon-container"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                  ></path>
                </svg>
              </button>
              <button
                class="eliminar-color"
                title="Eliminar"
                (click)="eliminateModal(item.name, item.lastname, item.id)"
              >
                <svg
                  class="icon-container"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  ></path>
                </svg>
              </button>
              <button
                class="send-email"
                title="Enviar correo"
                (click)="emailModal(item.name, item.lastname, item.email)"
              >
                <svg
                  class="icon-container"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  ></path>
                </svg>
              </button>
            </td>
          </tr>
          } @empty {
          <tr>
            <td class="celdas_td" style="font-size: 0.875rem; color: #374151">
              No data
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  } @else {
  <div>Sin información</div>
  }
</div>
